src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8085/Backend/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Actualizar" type="tns:Actualizar" />

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse" />

<xs:element name="Eliminar" type="tns:Eliminar" />

<xs:element name="EliminarResponse" type="tns:EliminarResponse" />

<xs:element name="Flistar" type="tns:Flistar" />

<xs:element name="FlistarResponse" type="tns:FlistarResponse" />

<xs:element name="ListarID" type="tns:ListarID" />

<xs:element name="ListarIDResponse" type="tns:ListarIDResponse" />

<xs:element name="agregar" type="tns:agregar" />

<xs:element name="agregarResponse" type="tns:agregarResponse" />

<xs:element name="listar" type="tns:listar" />

<xs:element name="listarResponse" type="tns:listarResponse" />

<xs:complexType name="ListarID">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Flistar">
<xs:sequence />
</xs:complexType>

<xs:complexType name="FlistarResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="id_cliente" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="total" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>