src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8085/Backend/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8085/Backend/Servicios?xsd=1" />
</xsd:schema>
</types>
<message name="agregar">
<part name="parameters" element="tns:agregar" />
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse" />
</message>
<message name="listar">
<part name="parameters" element="tns:listar" />
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse" />
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar" />
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse" />
</message>
<message name="ListarID">
<part name="parameters" element="tns:ListarID" />
</message>
<message name="ListarIDResponse">
<part name="parameters" element="tns:ListarIDResponse" />
</message>
<message name="Flistar">
<part name="parameters" element="tns:Flistar" />
</message>
<message name="FlistarResponse">
<part name="parameters" element="tns:FlistarResponse" />
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar" />
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse" />
</message>
<portType name="Servicios">
<operation name="agregar">
<input wsam:Action="http://WebService/Servicios/agregarRequest" message="tns:agregar" />
<output wsam:Action="http://WebService/Servicios/agregarResponse" message="tns:agregarResponse" />
</operation>
<operation name="listar">
<input wsam:Action="http://WebService/Servicios/listarRequest" message="tns:listar" />
<output wsam:Action="http://WebService/Servicios/listarResponse" message="tns:listarResponse" />
</operation>
<operation name="Actualizar">
<input wsam:Action="http://WebService/Servicios/ActualizarRequest" message="tns:Actualizar" />
<output wsam:Action="http://WebService/Servicios/ActualizarResponse" message="tns:ActualizarResponse" />
</operation>
<operation name="ListarID">
<input wsam:Action="http://WebService/Servicios/ListarIDRequest" message="tns:ListarID" />
<output wsam:Action="http://WebService/Servicios/ListarIDResponse" message="tns:ListarIDResponse" />
</operation>
<operation name="Flistar">
<input wsam:Action="http://WebService/Servicios/FlistarRequest" message="tns:Flistar" />
<output wsam:Action="http://WebService/Servicios/FlistarResponse" message="tns:FlistarResponse" />
</operation>
<operation name="Eliminar">
<input wsam:Action="http://WebService/Servicios/EliminarRequest" message="tns:Eliminar" />
<output wsam:Action="http://WebService/Servicios/EliminarResponse" message="tns:EliminarResponse" />
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="agregar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Flistar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8085/Backend/Servicios" />
</port>
</service>
</definitions>